<html>
    <%- include('../partials/header.ejs') %>
    <body>
        <div class="container">
            <%- include('../partials/nav.ejs') %>
    
            <h1>Categories</h1>
    
            <br>
            <%  if(category.length>0){  %>
                <% category.forEach(cat=>{ %>
                    <div class="item">

                        <h4><%= cat.category_name %> 
                            <button style="float: right;box-shadow: 0px 0px 2px 2px rgba(48, 48, 61,.5);" class="delete" data-id="<%= cat._id %>">Del</button>
                        </h4>
                    </div>
                    
                <% }); %>
            <% }else{ %>
                <h4>
                    No Added Category at the moment...
                </h4>
            <% } %>
    
    
            <%- include('../partials/footer.ejs') %>
    
        </div>
        <script>
            const trashcan = document.querySelectorAll('button.delete');
        
            trashcan.forEach(element => {

                element.addEventListener('click', (e) => {
                const endpoint = `/category/${element.dataset.id}`;
            

                fetch(endpoint, {
                    method: 'DELETE',
                })
                .then(response => response.json())
                .then(data => window.location.href = data.redirect)
                .catch(err => console.log(err));
                });
            });
            
          </script>
    </body>
</html>