<html>
    <%- include('../partials/header.ejs') %>
    <body>
        <%- include('../partials/nav.ejs') %>

        
        <h1>Welcome to Nelly Blog</h1>
        <h2>Users</h2>

        <br>
        <%  if(users.length>0){  %>
            <% users.forEach(user=>{ %>
                <h2> <%= user.name %></h2>
                <h3>Age: <%= user.age %> </h3>
                <h4>Height: <%= user.height %> </h4>
                <p> <%= user.desc %></p>
            <% }); %>
        <% }else{ %>
            <h4>
                No Registered User at the moment...
            </h4>
        <% } %>


        <%- include('../partials/footer.ejs') %>
    </body>
</html>