<html>
    <%- include('../partials/header.ejs') %>
    <body>
        <div class="container">
            <%- include('../partials/nav.ejs') %>
    
            <h1>Welcome to Nelly Blog</h1>
    
            <br>
            <%  if(blogs.length>0){  %>
                <% blogs.forEach(blog=>{
                    var result = category.filter(function(e) {
                        return e._id == blog.category;
                      })[0];
    
                      if(typeof result == 'undefined')
                        cur_cat = 'unavailable'
                      else
                        cur_cat = result['category_name']
    
                    %>
                    <div class="item">
                        <h2> <a href="/blog/<%= blog._id %>"><%= blog.title %></a></h2>
                        <h3>Category: <%= cur_cat %> </h3>
                        <p> <%= blog.body %></p>
                        <button class="delete" data-id="<%= blog._id %>">Del</button>
                    </div>
                <% }); %>
            <% }else{ %>
                <h4>
                    No  blog at the moment...
                </h4>
            <% } %>
    
    
            <%- include('../partials/footer.ejs') %>
    
            
        </div>

        <script>
            $(document).on('click', '.delete',function(){
                var blog_id = $(this).attr('data-id');

                if(confirm('Delete this Post?')){
                    $.ajax({
                        url: '/blog/'+blog_id,
                        type: 'DELETE',
                        // data: {id:blog_id}, 
                        // contentType:'application/json',  // <---add this
                        // dataType: 'text',                // <---update this
                        success: function(result) {
                            if(result.success){
                                window.location.reload(true);
                            }
                        },
                        error: function(err){console.log(err)}
                    });
                }
            })
        </script>
    </body>
</html>